$body: #7c5fe9;
$text: #999;
$nav: #fff;

.main {
    position: relative;
    width: 100vw;
    height: 100%;
    &__navigation {
        position: fixed;
        width: 100vw;
        height: 70px;
        background-color: $nav;
        z-index: 20;
    }
    &__navigationblock {
        position: relative;
        width: 100vw;
        height: 70px;
    }
    &__welcome {
        position: relative;
        width: 100vw;
        height: 400px;
        display: flex;
        flex-direction: row;
        &-svgSquare {
            position: absolute;
            top: 35%;
            right: 8%;
            width: 200px;
            height: 200px;
            z-index: -10;
            animation: rotate-right 55s infinite linear;
        }
        &-svgSquareWhite {
            display: none;
            position: absolute;
            bottom: -21%;
            left: 5%;;
            width: 200px;
            height: 200px;
            z-index: -10;
            animation: rotate-left 55s infinite linear;
        }
        &-img {
            width: 50%;
            height: 100%;
            background-image: url("../../../public/img/welcome.jpeg");
            background-size: cover;
            background-position: center;
            z-index: 10;
            
        }
        &-text {
            width: 50%;
            height: 100%;
            padding: 0.2em 1.4em;
            font-size: 1.3rem;
            text-align: justify;
            z-index: 10;
            color: $text;
        }
    }
}


@keyframes rotate-right {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}


@keyframes rotate-left {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(-360deg);
	}
}


@media (min-width: 576px) {
    
.main {
    &__welcome {
        &-text {
            font-size: 1.6rem;
        }
        &-svgSquareWhite {
            display: block;
        }
    }
}   
}


@media (min-width: 768px) {
    
    .main {
        &__welcome {
            &-text {
                font-size: 1.9rem;
            }
            &-svgSquareWhite {
                display: block;
            }
        }
    }   
    }


    @media (min-width: 1200px) {
    
        .main {
            &__welcome {
                &-text {
                    font-size: 2.5rem;
                }
            }
        }   
        }
    
    


@media (min-width: 1400px) {
    .main {
        &__welcome {
            &-svgSquareWhite {
                width: 300px;
                height: 300px;
            }
            &-svgSquare {
                width: 300px;
                height: 300px;
            }
        }
    }   
}