*, 
*::after, 
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$body: #999;

body {
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: $body;
}

html {
  scroll-behavior: smooth;
}